html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: #232f3e;
    display: flex;
    height: 50px;
    padding-left: 20px;
    position: fixed;
    top: 0px;
}

.AWSlogo {
    width: 50px;
    height: 50px;
}

h1 {
    margin-left: 8px;
    color: #fff;
}

.form-select {
    font-size: 16px;
    border-width: 0px;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.sub-container {
    background-color: #232f3e;
    margin-top: 70px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.select-language {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: (rgb(118, 118, 118), rgb(133, 133, 133));
    border-color: #fff;
    border-bottom: 0px;
    margin-bottom: -1px;
    color: #fff;
}

.select-language>p {
    font-size: 1.4rem;
    font-weight: bolder;
}

#sourceLanguageCodeDropdown {
    min-width: 90px;
    max-width: fit-content;
    height: 20px;
    margin-left: 10px;
    color: #333;
}

#targetLanguageCodeDropdown {
    min-width: 90px;
    max-width: fit-content;
    height: 20px;
    margin-left: 10px;
    color: #333;
}

.left-side,
.right-side {
    width: 40%;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    padding-top: 0px;
}

textarea {
    font-size: 1.6rem;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
}

.group-btn {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color: #ec7211;
    border-style: solid;
    border-radius: 2px;
    border-color: #ec7211;
    color: #fff;
}

.sub-container-bottom {
    padding-bottom: 100px;
    padding-left: 10px;
}

.textract {
    margin-top: 20px;
    margin-left: 10px;
}

.textract>p {
    font-size: 1.4rem;
    margin: 5px 0px;
}

.translate-document {
    margin-top: 20px;
    margin-left: 10px;
}

.translate-document>p {
    font-size: 1.4rem;
    margin: 5px 0px;
}

.footer {
    width: 100%;
    background-color: #232f3e;
    padding: 5px 20px;
    display: flex;
    position: fixed;
    bottom: 0px;
}

.footer>div {
    margin-right: 50px;
}

.footer>div>p {
    font-size: 1.4rem;
    color: #fff;
}
textarea:disabled {
    cursor: default;
    background-color:#FFFAF0;
    color: #333;
    border-color: #FFFAF0;
    border-radius: 2px;

}
.btn:hover {
    cursor: pointer;
    background-color: green;
}
